
.table_section {
	background-color: #ebebeb !important;
	padding: 50px 0px;
}

.t-heading {
	background-color: #f8f7f7;
	height: 70px;
	padding: 20px 0px;
	/*margin-top: 50px;*/
	font-size: 18px;
	color: black;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	border-bottom: 2px solid #EBEBEB;
}


.t-body {
	background-color: white;
	color: #999999;
	padding: 20px 0px;
	font-size: 19px;
	border-bottom: 1px solid #ebebeb;
}

.t-panel {
	background-color: #FFFFFF;
	color: black;
	padding: 20px 0px;
	font-size: 19px;
	border-bottom: 1px solid #ebebeb;
}

.show1 {
	display: block !important;
}

.active{color: black !important;}

.t-panel .row {
	padding: 5px 0px;
}

.logs {
	border-bottom: 2px solid #E83F53;
	padding-bottom: 10px;
	color: #999999 !important;
	width: 50px;
}

.t-body:HOVER {
	cursor: pointer;
	background-color: #f9f9f9;
	color: black;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.02);
	/* transition: all 0.2s ease-in-out; */
	background-color: #f9f9f9;
}

/* rotation animation */
@-webkit-keyframes rotate {from { -webkit-transform:rotate(0deg);

}

	to {
		-webkit-transform: rotate(360deg);
	}

}
@-moz-keyframes rotate {from { -moz-transform:rotate(0deg);

}

	to {
		-moz-transform: rotate(360deg);
	}

}
@-ms-keyframes rotate {from { -ms-transform:rotate(0deg);

}

	to {
		-ms-transform: rotate(360deg);
	}

}
@-o-keyframes rotate {from { -o-transform:rotate(0deg);

}

	to {
		-o-transform: rotate(360deg);
	}

}
.rotating {
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: -o-crisp-edges; /* Opera */
	image-rendering: -webkit-optimize-contrast;
	/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	/* IE (non-standard property) */
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-transform-origin: 50% 50%;
	-moz-animation-name: rotate;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-transform-origin: 50% 50%;
	-ms-animation-name: rotate;
	-ms-animation-duration: 1.5s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-transform-origin: 50% 50%;
	-o-animation-name: rotate;
	-o-animation-duration: 1.5s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;
}


@keyframes rotate {
	from { transform: rotate(0deg);   }
	to   { transform: rotate(360deg); }
}
.newcenter{
	margin:50px auto;
	text-align: center;
}
.spinner {
	text-align: center;
	animation: rotate 1.5s linear infinite;
	background: url('/static/img/generic_loader32.png') no-repeat;
	height: 32px;
	width: 32px;
}

svg:hover .view {
	fill: #e83f53 !important;
}


svg {
	width: 20px;
	margin-bottom: -6px;
}
.lock {
	height: 20px;
	margin: 0;
}
.t-body:HOVER svg .view{
	fill: black;
}
.add {
	width: 23px;
	margin-bottom: 4px;
	cursor: pointer;
}
.problem-details{padding: 20px 0px;}
.problem-details h4, .problem-details a {
	color: #e83f53;
}
.lock{width: 25px;}


.t-panel-submission {
	color: white;
	font-size: 19px;
	border-bottom: 1px solid #ebebeb;
}
.arrow-up {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	position: relative;
	top: -31px;
	left: 35px;
	margin-bottom: -15px;
}

.overall-submission {
	padding: 20px;
}
.overall-submission span {
	font-family: CircularStd-Black;
}
.status_success .arrow-up{
	border-bottom: 12px solid #27ae60;
}
.status_success .overall-submission{
	background-color: #27ae60;
}
.status_loading .arrow-up{
	border-bottom: 12px solid #f39c12;
}
.status_loading .overall-submission{
	background-color: #f39c12;
}

.status_error .arrow-up{
	border-bottom: 12px solid #e74c3c;
}
.status_error .overall-submission{
	background-color: #e74c3c;
}
.arrow-up {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	position: relative;
	top: -31px;
	left: 35px;
	margin-bottom: -15px;
}
.logs_head {
	color: black;
}
.logs_head span {
	color: #999999;
	font-size: 12px;
}
.details-log {
	background-color: white;
	color: #999999;
	padding: 30px 0px;
}
.tick-img{width: 20px;}
.cross-img{width: 18px;}
